# Put this to ~/.config/systemd/user/toxic.service

[Unit]
Description=Toxic telegram bot
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=20s

[Service]
Type=simple
WorkingDirectory=/home/sl/deployments/ToxicTgBot
ExecStart=/bin/sh "make run"
Restart=always
StandardOutput=append:/home/sl/logs/ToxicTgBot/stdout.log
StandardError=append:/home/sl/logs/ToxicTgBot/stderr.log
