[Unit]
Description=Toxic telegram bot (HTTP server)
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=20s

[Service]
Type=simple
WorkingDirectory={{ .ProjectDir }}
ExecStart=/bin/sh -c "make server"
Restart=always
StandardOutput=append:{{ .ProjectLogDir }}/server-stdout.log
StandardError=append:{{ .ProjectLogDir }}/server-stderr.log
