[Unit]
Description=Toxic telegram bot (main worker)
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=60s

[Service]
Type=simple
WorkingDirectory={{ project_dir }}
ExecStart=/bin/sh -c "export PATH=$HOME/.local/bin:$PATH && make run"
Restart=always
StandardOutput=append:{{ logs_prefix }}-main.log
StandardError=append:{{ logs_prefix }}-main.log

[Install]
WantedBy=default.target
