[Unit]
Description=Toxic telegram bot (HTTP server)
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=20s

[Service]
Type=simple
WorkingDirectory={{ hostvars['DIRECTORIES']['project'] }}
ExecStart=/bin/sh -c "make server"
Restart=always
StandardOutput=append:{{ hostvars['DIRECTORIES']['logs'] }}/server-stdout.log
StandardError=append:{{ hostvars['DIRECTORIES']['logs'] }}/server-stderr.log
