[Unit]
Description=Toxic telegram bot (main worker)
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=20s

[Service]
Type=simple
WorkingDirectory={{ hostvars['DIRECTORIES']['project'] }}
ExecStart=/bin/sh -c "make run"
Restart=always
StandardOutput=append:{{ hostvars['DIRECTORIES']['logs'] }}/main-stdout.log
StandardError=append:{{ hostvars['DIRECTORIES']['logs'] }}/main-stderr.log
