[Unit]
Description=Toxic telegram bot (HTTP server)
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=20s

[Service]
Type=simple
WorkingDirectory=${PROJECT_DIR}
ExecStart=/bin/sh -c "make server"
Restart=always
StandardOutput=append:${PROJECT_LOG_DIR}/server-stdout.log
StandardError=append:${PROJECT_LOG_DIR}/server-stderr.log
