<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
    <style type="text/css">
        table {
            border-collapse: collapse;
        }
        td {
            border: 1px solid lightgray;
            padding: 0.15rem;
        }
        thead {
            font-weight: bold;
        }
        td.oneline { white-space: pre; }
        td.text { white-space: pre-line; }
    </style>
</head>
<body>
    <ul>
        {% for chat in chats %}<li><a href="#chat{{ chat.id }}">{{ chat.title }}</a> ({{ chat.messages | length }})</li>{% endfor %}
        {% for user in users %}<li><a href="#user-{{ user.id }}">{{ user.name }}</a> ({{ user.messages | length }})</li>{% endfor %}
    </ul>

    <h1>Chats Messages</h1>
    {% for chat in chats %}
        <div id="chat{{ chat.id }}">
            <h2>{{ chat.title }} <span style="color: gray;">({{ chat.id }})</span> </h2>
            <p>messages: {{ chat.messages | length }}</p>
            <table>
                <thead>
                <tr>
                    <td>update_id</td>
                    <td>tg_id</td>
                    <td class="oneline">date</td>
                    <td class="oneline">user</td>
                    <td>text</td>
                </tr>
                </thead>
                <tbody>
                    {% for message in chat.messages %}
                        <tr>
                            <td>{{ message.update_id }}</td>
                            <td>{{ message.tg_id }}</td>
                            <td class="oneline">{{ message.date }}</td>
                            <td class="oneline">{{ message.user_id }} {{ message.user_name }}</td>
                            <td class="text">{{ message.text }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}

    <h1>Private Messages</h1>
    {% for user in users %}
        <div id="user-{{ user.id }}">
            <h2>{{ user.name }} <span style="color: gray;">({{ user.id }})</span></h2>
            <p>messages: {{ user.messages | length }}</p>
            <table>
                <thead>
                <tr>
                    <td>update_id</td>
                    <td>tg_id</td>
                    <td class="oneline">date</td>
                    <td>text</td>
                </tr>
                </thead>
                <tbody>
                    {% for message in user.messages %}
                        <tr>
                            <td>{{ message.update_id }}</td>
                            <td>{{ message.tg_id }}</td>
                            <td class="oneline">{{ message.date }}</td>
                            <td class="text">{{ message.text | safe }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
</body>
</html>
